﻿<!-- this file should be edited per release and not contain a log of all releases, also, NO QUOTES!!! -->

<ul>
    <li>Simplified configurations. Auto-restore or not. Auto-save or not.</li>
    <li>Buttons to &quot;Restore Now&quot; and &quot;Save Now&quot;</li>
</ul>
